*{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
}
/*头部*/
.header{
    width:auto;
    height:60px;
    background-color: #f9f7ec;
    box-shadow: 0 0 5px #ccc;
}
/*标题*/
.hTitle{
    font-size: 40px;
    color: #3399cc;
    padding: 0 40px;
    float: left;
}
/*导航栏目录*/
.hMenu{
    font-size: 25px;
    color: #3399cc;
    line-height: 60px;
}
a{
    color: #3399cc;
    text-decoration: none;
    text-align: center;
    padding:0 20px;
}
a:hover,li:hover{
    color: #1177aa;
    background-color: #f3f1e6;
}
/*菜单*/
.menu{
    float: left;
}
/*子菜单*/
.menu ul{
    line-height: 30px;
    background-color: #f9f7ec;
    font-size: 15px;
    display: none;
    position: absolute;
    z-index: 2;
}
.mes{
    padding: 5px 25px;
    text-align: center;
}

/*主要内容*/
/*瀑布流容器*/
#container{
    position: relative;
}
/*瀑布流每一张图*/
.box{
    padding: 5px;
    float: left;
}
.box_img{
    padding: 5px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}
.box_img img{
    width: 150px;
    height: auto;
}

/*脚部信息*/
.footer{
    clear: left;
    position: static;
    bottom: 0;
    background:#666666;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}