@font-face {
  font-family: myfirstfont;
  src:url('汉真广标.tff');
}

/*标题*/
.pTitle h1{
  padding: 25px 0 13px 0;
  margin-bottom: 12px;
  text-align: center;
  font-family: myfirstfont;
}
/*小字*/
.p_small{
  color: #bbb;
  text-align: center;
}
/*圆角边框*/
.wapper{
  width:840px;
  height:370px;
  margin:0 auto;
  margin-top:50px;
  overflow:hidden;
}
.wapper ul{
  margin-top:30px;
}
.wapper li{
  float:left;
  margin-left:30px;
  width:240px;
  height:300px;
  color:#fff;
  text-align:center;
  font-weight:bold;
  display:inline-block;
  border-radius: 10px;
  border: 1px solid #777;
}
.wapper li:hover{
  transform: translateY(-10px);
  box-shadow: 0 5px 15px #777;
}
/*边框内容*/
.wapper h3{
  text-align:center;
  color: #000;
  padding: 5px;
  margin: 5px;
}
.b_hover{
  margin: 5px auto;
  background-color: #00abf0;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  color: #fff;
}
.imgBorder{
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #00abf0;
}
.imgBorder img{
  padding: 12.5px;
  width: 75px;
  height: 75px;
}
.b_hover a{
  text-decoration: none;
  color: #fff;
}
.b_hoverh3 h3{
  transform: translateY(-20px);
  margin: 5px auto;
  background-color: #00abf0;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  color: #fff;
}

.container{
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.container ul{
  list-style: none;
  width:840px;
  height:370px;
  margin: 0 auto;
}
.cli{
  margin: 20px auto;
  padding: 38px;
  float: left;
}
.cdl{
  width: 90px;
  height: 260px;
  border: 1px solid rgb( 80, 97, 149);
  border-radius: 51px;
}
.cdl dt{
  border: 1px solid rgb( 80, 97, 149);
  border-radius: 50px 50px 0 0;
  background-color: rgb(80, 97, 149);
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #fff;
}
.cdl dt img{
  padding: 10px;
  width: 50px;
}
.cdl:hover{
  border-color: rgb(0, 171, 240);
}
.cdl:hover >dt{
  border-color: rgb(0, 171, 240);
  background-color:rgb(0, 171, 240);
}

/*六边形的拘束器*/
.restraint ul{
  list-style: none;
}
.restraint li{
  height: 120px;
}
/*六边形*/

.box1{
  width:0;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  border-bottom: 30px solid rgb(0, 171, 240);
}
.box2{
  width: 104px;
  height: 60px;
  background-color: rgb(0, 171, 240);
  text-align: center;
  color: #fff;
}
.box3{
  width:0;
  border-top: 30px solid rgb(0, 171, 240);
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
/*六边形内容文字*/
.box2 p{
  padding: 9.2px 0;
}
