*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}
.nav-right ul{
  float: right;
  list-style: none;
}
.nav-right li{
  float: left;
  padding: 20px 10px;
}
.nav{
  width: 70%;
  margin: auto;
  padding: auto;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
.nav-right a{
  text-decoration: none;
  color: #444;
}
.nav-right a:hover{
  color: #00abf0;
}
.banner img{
  width: 100%;
  height: auto;
}
.page{
  width: 100%;
  margin: 0 auto;
}
