/*网站页面头部与尾部布局  */
/*全局  */
* {
	margin: 0;
	padding: 0;
}
/*页面头部  */
#Header {
	top: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	padding-right: 5px;
	margin: 0px;
	background-color: #2c2c2c;
}

#logo {
	float: left;
}
/*网站名称  */
#logo h1 {
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
	float: left;
	font-size: 22px;
	font-weight: 200;
	line-height: 18px;
	color: #FFFFFF;
	display: block;
}
/*空格  */
#logo h2 {
	float: left;
	line-height: 18px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px 0;
}

#MTM {
	color: #FFFFFF;
	float: left;
	line-height: 18px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	font-size: 16px;
}
/* 水平导航栏 */
#navigator {
	left: 0;
	right: 0;
	margin: 0 0 0 0;
	position: relative;
}
/*列表  */
#navList {
	list-style-type: none;
	display: block;
	left: 0;
	right: 0;
	margin: 0px 10px 0px 0px;
	float: right;
	color: #AAAAAA;
}
/*列表每行  */
#navList li {
	float: left;
	line-height: 18px;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	font-size: 16px;
}
/*鼠标选中  */
#navList li:hover {
	background-color: #000000;
	color: #FFFFFF;
}
/* 导航栏链接 */
#navList a{
	text-decoration:none;
}
#navList a:link, #navList a:visited, #navList a:active {
    color: #AAAAAA;
}
#navList a:hover {
    color: #FFFFFF;
}
/* 尾部 */
#footer {
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	text-align: center;
	min-height: 15px;
	_height: 15px;
	border-top: 1px solid black;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}
/*页面  */
body {
	padding: 32px;
	margin: 20px 8px 8px 8px;
}

#Main {
	border-right: #bbb 1px solid;
	border-top: #bbb 1px solid;
	background-color: #fff;
	border-left: #bbb 1px solid;
	border-bottom: #bbb 1px solid;
	text-align: left;
	padding: 30px 20px 20px 50px;
	width: 350px;
}

#loginTitle {
	color: #0080ff;
}
